@using EntityLayer.Concrete
@model List<Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Kullanıcı Mail</td>
        <td>Yetki</td>
        <td>Status</td>
        <td>Pasif Yap</td>
        <td>Yetkisini Değiştir</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminID</th>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole</td>
            <td>Aktif</td>
           
            <td><a href="/AdminCategory/DeleteCategory/@item.AdminID" class="btn btn-danger">Pasif Yap</a></td>
            <td><a href="/Authorization/EditAdmin/@item.AdminID" class="btn btn-warning">Yetkisini Değiştir</a></td>
            

        </tr>
    }
</table>

<a href="/Authorization/AddAdmin" class="btn btn-info">Yeni Admin Tanımla</a>


